<!-- GRID -->
<div class="grid grid-3-3-3-3 centered" style="padding-top: 100px">
  <% if (favorites.length === 0) { %>
  <div class="product-preview">
    <p>You have no favorite Pokemon. <a href="/pokemon">View all Pokemon</a></p>
  </div>
  <% } else { %>
  <div class="product-preview">
    <p>
      You have <%= favorites.length %> favorite Pokemon.
      <a href="/pokemon">View all Pokemon</a>
    </p>
  </div>
  <% for( let i = 0; i < favorites.length; i++ ) { %> <% let favorite =
  favorites[i] %>

  <div class="product-preview">
    <a href="/pokemon/<%= favorite.dataValues.pokemon.name %>">
      <figure class="product-preview-image liquid">
        <img
          src="<%= favorite.dataValues.pokemon.image %>"
          alt="<%= favorite.dataValues.pokemon.name %>"
        />
      </figure>
    </a>

    <div class="product-preview-info">
      <p class="product-preview-title">
        <a href="/pokemon/<%= favorite.dataValues.name %>"
          ><%= favorite.dataValues.name %></a
        >
      </p>
    </div>

    <form
      action="/favorites/remove/<%= favorite.dataValues.name %>?_method=DELETE"
      method="POST"
      onsubmit="return confirm('Are you sure you want to remove this item from your favorites?');"
    >
      <button><i class="fas fa-trash-alt"></i> Remove from Favorites</button>
    </form>
  </div>
  <% } %> <% } %>
</div>
<!-- /GRID -->
<!-- /SECTION -->
