<div class="grid grid-3-3-3-3 centered" style="padding-top: 100px">
  <% for( let i = 0; i < pokemon.length; i++ ) { %> <% let pokemons = pokemon[i]
  %>

  <div class="product-preview">
    <a href="/pokemon/<%= pokemons.dataValues.name %>">
      <figure class="product-preview-image liquid">
        <img src="<%= pokemons.dataValues.image %>" alt="item-01" />
      </figure>
    </a>

    <div class="product-preview-info">
      <p class="product-preview-title">
        <a href="/pokemeon/<%= pokemons.dataValues.name %>"
          ><%= pokemons.dataValues.name %></a
        >
      </p>

      <p>
        <img
          src="/assets/icons/<%= pokemons.dataValues.pokeType1 %>.svg "
          height="20"
          width="20"
          alt=""
        />
        <a href="/pokemon/type-1/<%= pokemons.dataValues.pokeType1 %>"
          ><%= pokemons.dataValues.pokeType1 %></a
        >
      </p>

      <!-- If Pokemon is already favorited -->
      <% if (favorites.includes(pokemons.dataValues.name)) { %>
      <form
        action="/favorites/remove/<%= pokemons.dataValues.name %>?_method=DELETE"
        method="POST"
      >
        <button><i class="fas fa-heart"></i> Remove from Favorites</button>
      </form>

      <!-- If Pokemon is not favorited yet -->
      <% } else { %>
      <form action="/favorites/<%= pokemons.dataValues.name %>" method="POST">
        <button><i class="far fa-heart"></i> Add to Favorites</button>
      </form>
      <% } %>
    </div>
  </div>

  <% } %>
</div>
<!-- /GRID -->
<!-- /SECTION -->
