<!-- CONTENT GRID -->
<div class="content-grid">
  <!-- SECTION BANNER -->
  <div class="quest-item">
    <!-- QUEST ITEM COVER -->
    <figure
      class="quest-item-cover liquid"
      style="
        background: url('img/quest/cover/01.png') center center / cover
          no-repeat;
      "
    >
      <img src="img/quest/cover/01.png" alt="cover-01" style="display: none" />
    </figure>
    <!-- /QUEST ITEM COVER -->

    <!-- TEXT STICKER -->
    <p class="text-sticker small-text">
      <!-- TEXT STICKER ICON -->

      <!-- TEXT STICKER ICON -->
      <%= pokemons.dataValues.base %> Base
    </p>

    <!-- QUEST ITEM INFO -->
    <div class="quest-item-info">
      <!-- QUEST ITEM BADGE -->
      <img src="<%= pokemons.dataValues.image %>" width="70" height="70" alt="openq-b" />
      <img src="<%= pokemons.dataValues.image %>" width="70" height="70" alt="openq-b" />
      <img src="<%= pokemons.dataValues.image %>" width="70" height="70" alt="openq-b" />
      <img src="<%= pokemons.dataValues.image %>" width="70" height="70" alt="openq-b" />
      <!-- /QUEST ITEM BADGE -->
      <!-- TEXT STICKER -->
      <p class="text-sticker small-text">
        <!-- TEXT STICKER ICON -->

        <!-- TEXT STICKER ICON -->
        ID <%= pokemons.dataValues.gameIndex %>
      </p>
      <!-- /TEXT STICKER -->

      <!-- QUEST ITEM TITLE -->
      <p class="quest-item-title"><%= pokemons.dataValues.name %></p>
      <!-- /QUEST ITEM TITLE -->

      <!-- QUEST ITEM TEXT -->
      <p class="quest-item-text">
       <a href="/pokemon/type-1/<%= pokemons.dataValues.pokeType1 %>"> Type 1: <%= pokemons.dataValues.pokeType1 %></a></br>
       <a href="/pokemon/type-2/<%= pokemons.dataValues.pokeType2 %>"> Type 2: <%= pokemons.dataValues.pokeType2 %></a></br>

      </p>
      <!-- /QUEST ITEM TEXT -->
 <% if (favorites.includes(pokemons.dataValues.name)) { %>
      <form
        action="/favorites/remove/<%= pokemons.dataValues.name %>?_method=DELETE"
        method="POST"
      >
        <button><i class="fas fa-heart"></i> Remove from Favorites</button>
      </form>

      <!-- If Pokemon is not favorited yet -->
      <% } else { %>
      <form action="/favorites/<%= pokemons.dataValues.name %>" method="POST">
        <button><i class="far fa-heart"></i> Add to Favorites</button>
      </form>
      <% } %>
      <!-- QUEST ITEM META -->
      <div class="quest-item-meta">
        <!-- USER AVATAR LIST -->
        <div class="user-avatar-list">
          <!-- USER AVATAR -->
          <div class="user-avatar micro no-stats">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div
                class="hexagon-22-24"
                style="width: 22px; height: 24px; position: relative"
              >
                <canvas
                  width="22"
                  height="24"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->

            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div
                class="hexagon-image-18-20"
                data-src="img/avatar/08.jpg"
                style="width: 18px; height: 20px; position: relative"
              >
                <canvas
                  width="18"
                  height="20"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
          </div>
          <!-- /USER AVATAR -->

          <!-- USER AVATAR -->
          <div class="user-avatar micro no-stats">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div
                class="hexagon-22-24"
                style="width: 22px; height: 24px; position: relative"
              >
                <canvas
                  width="22"
                  height="24"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->

            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div
                class="hexagon-image-18-20"
                data-src="img/avatar/16.jpg"
                style="width: 18px; height: 20px; position: relative"
              >
                <canvas
                  width="18"
                  height="20"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
          </div>
          <!-- /USER AVATAR -->

          <!-- USER AVATAR -->
          <div class="user-avatar micro no-stats">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div
                class="hexagon-22-24"
                style="width: 22px; height: 24px; position: relative"
              >
                <canvas
                  width="22"
                  height="24"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->

            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div
                class="hexagon-image-18-20"
                data-src="img/avatar/06.jpg"
                style="width: 18px; height: 20px; position: relative"
              >
                <canvas
                  width="18"
                  height="20"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
          </div>
          <!-- /USER AVATAR -->

          <!-- USER AVATAR -->
          <div class="user-avatar micro no-stats">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div
                class="hexagon-22-24"
                style="width: 22px; height: 24px; position: relative"
              >
                <canvas
                  width="22"
                  height="24"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->

            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div
                class="hexagon-image-18-20"
                data-src="img/avatar/07.jpg"
                style="width: 18px; height: 20px; position: relative"
              >
                <canvas
                  width="18"
                  height="20"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
          </div>
          <!-- /USER AVATAR -->

          <!-- USER AVATAR -->
          <div class="user-avatar micro no-stats">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div
                class="hexagon-22-24"
                style="width: 22px; height: 24px; position: relative"
              >
                <canvas
                  width="22"
                  height="24"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->

            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div
                class="hexagon-image-18-20"
                data-src="img/avatar/02.jpg"
                style="width: 18px; height: 20px; position: relative"
              >
                <canvas
                  width="18"
                  height="20"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
          </div>
          <!-- /USER AVATAR -->

          <!-- USER AVATAR -->
          <div class="user-avatar micro no-stats">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div
                class="hexagon-22-24"
                style="width: 22px; height: 24px; position: relative"
              >
                <canvas
                  width="22"
                  height="24"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->

            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div
                class="hexagon-image-18-20"
                data-src="img/avatar/10.jpg"
                style="width: 18px; height: 20px; position: relative"
              >
                <canvas
                  width="18"
                  height="20"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
          </div>
          <!-- /USER AVATAR -->

          <!-- USER AVATAR -->
          <div class="user-avatar micro no-stats">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div
                class="hexagon-22-24"
                style="width: 22px; height: 24px; position: relative"
              >
                <canvas
                  width="22"
                  height="24"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->

            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div
                class="hexagon-image-18-20"
                data-src="img/avatar/05.jpg"
                style="width: 18px; height: 20px; position: relative"
              >
                <canvas
                  width="18"
                  height="20"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
          </div>
          <!-- /USER AVATAR -->

          <!-- USER AVATAR -->
          <div class="user-avatar micro no-stats">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div
                class="hexagon-22-24"
                style="width: 22px; height: 24px; position: relative"
              >
                <canvas
                  width="22"
                  height="24"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->

            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div
                class="hexagon-image-18-20"
                data-src="img/avatar/03.jpg"
                style="width: 18px; height: 20px; position: relative"
              >
                <canvas
                  width="18"
                  height="20"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
          </div>
          <!-- /USER AVATAR -->
        </div>
        <!-- /USER AVATAR LIST -->

        <!-- QUEST ITEM META INFO -->
        <div class="quest-item-meta-info">
          <!-- QUEST ITEM META TITLE -->
          <p class="quest-item-meta-title">+24 friends</p>
          <!-- /QUEST ITEM META TITLE -->

          <!-- QUEST ITEM META TEXT -->
          <p class="quest-item-meta-text">completed this quest</p>
          <!-- /QUEST ITEM META TEXT -->
        </div>
        <!-- /QUEST ITEM META INFO -->
      </div>
      <!-- /QUEST ITEM META -->
    </div>
    <!-- /QUEST ITEM INFO -->
  </div>
  >
</div>
<!-- /CONTENT GRID -->
